


// gray
$c55:#555;
$c22:#222;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ddd;
$cee:#eee;
$cf9:#f9f9f9;
$cf7:#F7F7F7;
$cfa:#fafafa;
$cf60:#FF8225;
$c2a:#2a3542;
$c35:#35404d;
// colour
$red:#ee4442;
$blue:#006FCF;
$sblue:#2c4a67;
$green:#46c100;
$cyan:#36bc99;
$gold:#A49D86;
$pink:#F85D92;
$pink2:#F13E7A;
$yellow:#f69800;
$qblue:#81dae8;
